h1 {
    color: red;
    z-index: 1;
    
}
.image {
    background-image: url("https://framework-gb.cdn.gob.mx/landing/img/clanding1.png");
    z-index: 0;
    size: auto;
    opacity: 0.50;
}
tcol {
    width: 100%;
    padding: 10px;
    box-align: center;
}

button {
    width: 100%;
    padding: 10px;
    height: 80px;
    box-align: right;
    font-weight: bold;
}

table {
    box-align: center
}
#pv {
    
    color: green;
}

#pri {

}

#pan {
    color: blue;
}

#mc {
    color: orange;
}

#morena {
    color: maroon;
}

#pt {
    color: red;
}

#pes {
    color: purple;
}