*{
    border: 1px solid red;
} 

/*Esta es la parte del heading que incluye la introducion y la barra de navegacion*/
header {
    text-align: center;
    padding: 10px auto;
    margin: 10px auto;
}

h2 {
    text-align: center;
    padding: 10px auto;
    margin: 10px auto;
}

header p{
    text-align: center;
    padding: 50px;
    margin: 10px;
}

.partidos {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: auto;
    width: 200px;
    height: 400px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(196, 191, 191);
}

.partidos h2 {
    text-align: center;
    position: relative;
    top: 10px;
    height: fit-content;
    width: fit-content;
}

button {
    height: 20px;
    width: 80px;
    align-content: center;
    display: inline-block;
    position: absolute;
    top: 90%;

}

#pv {
    
    color: green;
}

#pri {

}

#pan {
    color: blue;
}

#mc {
    color: orange;
}

#morena {
    color: maroon;
}

#pt {
    color: red;
}

#pes {
    color: purple;
}

#prd {
    color: yellow;
}

footer {
    position: relative;

}